<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PortFolio Bootstrap Template - Contact</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/assets/css/main.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="/static/assets/img/logo.png" alt=""> -->
                <i class="bi bi-camera"></i>
                <h1 style="color:pink;">Portfolio</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/static/index.html" class="active">Home</a></li>
                    <li><a href="/static/about.html">About</a></li>
                    <li class="dropdown"><a href="/static/#"><span>Flutter Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/food_app.git">Normal_food_app</a></li>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/lab.git">Calculator</a></li>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/FINAL.git">flutter_streams</a></li>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/network_lab.git">flutter_networking</a></li>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/Food.git">recipe_app</a></li>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/Flutter-Shared-Preferences.git">Leader Board</a></li>
                            <li class="dropdown"><a href="/static/#"><span>Sub Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="/static/#">Sub Menu 1</a></li>
                                    <li><a href="/static/#">Sub Menu 2</a></li>
                                    <li><a href="/static/#">Sub Menu 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="/static/#"><span>Django Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/Book_Recommendation_App">Book_Recommendation_App</a></li>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/iPortfolio.git">iPortfolio</a></li>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/Task-Manager">Task Manager</a></li>
                        </ul>
                      </li>  

                      <li class="dropdown"><a href="/static/#"><span>PHP Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                          <li><a href="https://github.com/Taznim-Juwana-Islam/bloggieproject.git">bloggie_project</a></li>
                        </ul>
                      </li> 

                    <li class="dropdown"><a href="/static/#"><span>C++ Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="https://github.com/Taznim-Juwana-Islam/my-blog">My Blog</a></li>
                            <li><a href="https://github.com/Taznim-Juwana-Islam/Task-Manager">Task Manager</a></li>
                        </ul>
                    </li>

                    <li><a href="/SERVICE">Services</a></li>
                    <li><a href="/CONTACT">Contact</a></li>

            </nav>
            <!-- .navbar -->

            <div class="header-social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>
    <!-- End Header -->

    <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Contact</h2>
                        <p>My website is always open for your required hlep. If you can't find the answer, you're looking for our website or contact with us. We're here to lend a hand...</p>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="row gy-4 justify-content-center">

                    <div class="col-lg-3">
                        <div class="info-item d-flex">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h4>Location:</h4>
                                <p>Uposohor,Rajshahi</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Info Item -->

                    <div class="col-lg-3">
                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Info Item -->

                    <div class="col-lg-3">
                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Info Item -->

                </div>

                <div class="row justify-content-center mt-4">

                    <div class="col-lg-9">
                        <form action="/CONTACT/" method="post" role="form" class="php-email-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                    <!-- End Contact Form -->

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>PortFolio</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Taznim-Juwana-Islam</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader">
        <div class="line"></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/assets/js/main.js"></script>

</body>

</html>