<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="/static/https://fonts.googleapis.com">
  <link rel="preconnect" href="/static/https://fonts.gstatic.com" crossorigin>
  <link href="/static/https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/static/index.html" class="logo d-flex align-items-center  me-auto me-lg-0">

        <i class="bi bi-camera"></i>
        <h1 style="color:pink;">portfolio</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/static/index.html" class="active">Home</a></li>
          <li><a href="/ABOUT">About</a></li>
          <li class="dropdown"><a href="/static/#"><span>Flutter Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>

              <li><a href="https://github.com/Taznim-Juwana-Islam/food_app.git">Normal_food_app</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/lab.git">Calculator</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/FINAL.git">flutter_streams</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/network_lab.git">flutter_networking</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/Food.git">recipe_app</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/Flutter-Shared-Preferences.git">Leader Board</a></li>
              <li class="dropdown"><a href="/static/#"><span>Sub Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="/static/#">Sub Menu 1</a></li>
                  <li><a href="/static/#">Sub Menu 2</a></li>
                  <li><a href="/static/#">Sub Menu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown"><a href="/static/#"><span>Django Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="https://github.com/Taznim-Juwana-Islam/Book_Recommendation_App">Book_Recommendation_App</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/iPortfolio.git">iPortfolio</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/Task-Manager">Task Manager</a></li>
            </ul>
          </li>   
          
          <li class="dropdown"><a href="/static/#"><span>PHP Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="https://github.com/Taznim-Juwana-Islam/bloggieproject.git">bloggie_project</a></li>
            </ul>
          </li> 

          <li class="dropdown"><a href="/static/#"><span>C++ Project</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="https://github.com/Taznim-Juwana-Islam/my-blog">My Blog</a></li>
              <li><a href="https://github.com/Taznim-Juwana-Islam/Task-Manager">Task Manager</a></li>
            </ul>
          </li> 

          <li><a href="/SERVICE">Services</a></li>
          <li><a href="/CONTACT">Contact</a></li>
       
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="/static/#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="/static/#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="/static/#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="/static/#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h3 style="color:skyblue;">Taznim Juwana Islam 
          <br></h3> <h4>Professional Web developer from Bangladesh</h4>
          <p> Design and develop experiences that make people's lives simpler through Web and Mobile app...</p>
          <a href="/CONTACT" class="btn-get-started">Available for hire</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="row gy-4 justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/395077933_280518194304528_8126940513946230844_n.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/395077933_280518194304528_8126940513946230844_n.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/Screenshot (633).png" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/Screenshot (633).png" title="Gallery 2" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/Screenshot (636).png" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/Screenshot (636).png" title="Gallery 3" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/368040518_1095554334942948_4100101241159222494_n.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/395077933_280518194304528_8126940513946230844_n.jpg" title="Gallery 4" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/download (1).jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/download (1).jpg" title="Gallery 5" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/download (2).jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/download (2).jpg" title="Gallery 6" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/download.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/download.jpg" title="Gallery 9" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/download (6).jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/download (6).jpg" title="Gallery 10" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/download.png" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/download.png" title="Gallery 11" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/images.jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/images.jpg" title="Gallery 12" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/images (1).jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/images (1).jpg" title="Gallery 14" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i cla3ss="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Gallery Item -->
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="gallery-item h-100">
              <img src="/static/assets/img/gallery/images (2).jpg" class="img-fluid" alt="">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                <a href="/static/assets/img/gallery/images (2).jpg" title="Gallery 15" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                <a href="/static/gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; <strong><span>PortFolio</span></strong>.
      </div>
      <div class="credits">
        
        Designed by <a href="/static/https://bootstrapmade.com/">Taznim-Juwana-Islam</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="/static/#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>